@font-face {
  font-family: "Texta Alt";
  src: url("/assets/fonts/TextaAlt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Texta Alt";
  src: url("/assets/fonts/TextaAlt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Texta Alt";
  src: url("/assets/fonts/TextaAlt-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Texta Alt";
  src: url("/assets/fonts/TextaAlt-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Texta Alt";
  src: url("/assets/fonts/TextaAlt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Texta";
  src: url("/assets/fonts/Texta-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Texta";
  src: url("/assets/fonts/Texta-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
